@import "_mixins/font-face";

@include font-face("Icons", "../fonts/Icons/icomoon");
@include font-face("Fira", "../fonts/FiraSansExtraCondensed-Regular/FiraSansExtraCondensed-Regular");
@include font-face("Fira", "../fonts/FiraSansExtraCondensed-Medium/FiraSansExtraCondensed-Medium", 500);
@include font-face("Fira", "../fonts/FiraSansExtraCondensed-Light/FiraSansExtraCondensed-Light", 300);
@include font-face("Fira", "../fonts/FiraSansExtraCondensed-ExtraLight/FiraSansExtraCondensed-ExtraLight", 200);

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lamp-brain:before {
  content: "\e900";
}
.icon-lamp-pen:before {
  content: "\e901";
}
.icon-water-switcher:before {
  content: "\e902";
}
.icon-tool-box:before {
  content: "\e903";
}
.icon-pen-sheet:before {
  content: "\e904";
}
.icon-sert:before {
  content: "\e905";
}
.icon-about-01:before {
  content: "\e906";
}
.icon-about-05:before {
  content: "\e907";
}
.icon-about-04:before {
  content: "\e908";
}
.icon-about-03:before {
  content: "\e909";
}
.icon-about-02:before {
  content: "\e90a";
}
.icon-set-12:before {
  content: "\e90b";
}
.icon-set-13:before {
  content: "\e90c";
}
.icon-set-14:before {
  content: "\e90d";
}
.icon-set-15:before {
  content: "\e90e";
  color: #fff;
}
.icon-phone:before {
  content: "\e90f";
}
.icon-insta:before {
  content: "\e910";
}
.icon-skype:before {
  content: "\e911";
}
.icon-fb:before {
  content: "\e912";
}
.icon-find:before {
  content: "\e913";
}
.icon-set-21:before {
  content: "\e914";
}
.icon-set-22:before {
  content: "\e915";
}
.icon-triangle-circle:before {
  content: "\e916";
}
.icon-up:before {
  content: "\e918";
}
.icon-arr-right:before {
  content: "\e91b";
}
.icon-arr-left:before {
  content: "\e91a";
}
.icon-arr-up:before {
  content: "\e91c";
}
.icon-arr-down:before {
  content: "\e919";
}
.icon-factory:before {
  content: "\e917";
}
