@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
html{
	font-size: 18px;
}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	font-weight: 300;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text{
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
}

b, strong {
	font-weight: bold;
}

.bg-primary{
	background-color: $accent;
}

.btn{
	display: inline-block;
	outline: none;
	background: none;
	border: 1px solid $accent;
	color: $accent;
	cursor: pointer;
	padding: 5px 50px;
	transition: background-color 0.5s;
	&:hover{
		background-color: $accent;
		color: #fff;
	}
}

h1{
	color: $accent;
	font-size: 1.7rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
	position: relative;
	&:after{
		content:"";
		display: block;
		position: absolute;
		bottom: 0;
		height: 1px;
		background-color: $accent;
		width: 100px;
		left: 50%;
		transform: translateX(-50%);
	}
}

h2{
	font-weight: 200;
	font-size: 1.7rem;
	color: $accent;
	padding-left: 1rem;
	position: relative;
	&:after{
		content:"";
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 70%;
		background-color: $accent;
		width: 1px;
		left: 0;
	}
}

header{
	a{
		transition: 0.5s;
		font-weight: 200;
		&:hover, &:focus, &:visited{
			text-decoration: none;
			opacity: 0.7;
		}
	}
	input{
		border-color: lighten($text, 40%);
	}
}

nav .has-submenu{
	a{
		position: relative;
		padding-right: 10px;
		&:after{
			content: "";
			position: absolute;
			display: block;
			right: 0;
			top: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 4px 0 4px;
			border-color: #ccc transparent transparent transparent;
		}
	}
}

.prenav{
	li{
		flex: none;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li:last-child{
			a{
				margin-right: 0;
			}
		}
	}
	a{
		color: #fff;
		font-size: 0.8rem;
		display: block;
		padding: 15px 0;
		margin-right: 20px;
	}
	&-right{
		li{
			&.has-submenu{
				&:first-child{
					a{
						margin-right: 10px;
					}
				}
				&:last-child{
					a{
						margin-left: 5px;
					}
				}
			}
		}
		a{
			margin-right: 5px;
		}
	}
}

.main-header-section{
	align-items: center;
	.logo-holder{
		margin-right: 20px;
		a{
			display: block;
			font-size: 22px;
			line-height: 22px;
		}
		width: 100px;
		a:hover, a:focus, a:visited{
			opacity: inherit;
		}
	}
}
.navigation-main{
	ul, li{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		font-size: 0.85rem;
		&:last-child{
			a{
				padding-right: 0;
				&:after{
					display: none;
				}
			}
		}
		a{
			color: $text;
			display: block;
			padding: 0 7px;
			position: relative;
			&:hover{
				text-decoration: underline;
			}
			&:after{
				content:"";
				display: block;
				position: absolute;
				width: 1px;
				height: 1rem;
				background-color: $text;
				top: 50%;
				right: 0;
				transform: translate(0.5px, -50%);
			}
		}
	}
}
.search-form{
	max-width: 170px;
	position: relative;
	&:before{
		position: absolute;
		right: 0.2rem;
		font-size: 0.7rem;
		top: 50%;
		transform: translateY(-50%);
	}
	margin-left: auto;
	padding-left: 2rem;
	form{
		width: 100%;
		font-size: 0.8rem;
		input[type='text']{
			width: 100%;
		}
		input[type='submit']{
			position: absolute;
			background-color: transparent;
			border: none;
			padding: 0;
			
		}
	}
}


section{
	margin-top: 2rem;
	h1{
		margin-bottom: 3rem;
	}
}
.about-company{
	&>div[class^="col"]{
		margin-bottom: 15px;
	}
	&__plate{
		padding: 10px;
		border: 1px solid #eee;
		cursor: pointer;
		transition: background-color 0.7s;
		&:hover, &.active-plate{
			background-color: $accent;
			color: #fff;
			.about-company__icon-holder span{
				color: #fff;
			}
		}
	}
	&__icon-holder{
		flex: 1 0 80px;
		span{
			font-size: 60px;
			line-height: 1;
			color: $accent;
		}
	}
	&__card-text{
		flex: 2 1 75%;
	}
}

//slider

.owl-carousel .owl-stage-outer{
	overflow: visible;
	.owl-item{
		opacity: 0.2;
		&.active{
			opacity: 1;
		}
	}
}


//production section

.production-item{
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	&:hover{
		img{
			filter: grayscale(0);
		}
		.production-item__inner{
			opacity: 0;
			span{
				transform: scale(3);
				filter: blur(5px);
			}
		}
	}
	position: relative;
	img{
		filter: grayscale(90%)
	}
	&__inner{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(#fff, 0.7);
		transition: opacity 0.9s;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		text-transform: uppercase;
		font-size: 1.2rem;
		text-align: center;
		color: $accent;
		span{
			transition: transform 0.2s;
			transform-origin: center;
		}
	}
}

// complex solutions

.solution{
	font-weight: 300;
	line-height: 1.2;
	color: $text;
	text-align: center;
	display: block;
	&:hover{
		text-decoration: none;
	}
	&__icon{
		position: relative;
		transition: 0.5s;
		margin-bottom: 0.5rem;
		color: $accent;
		height: 0;
		padding-bottom: 100%;
		font-size: 60px;
		span{
			position: absolute;
			display: block;
			width: 100%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__description-text{
		column-count: 2;
		column-gap: 30px;
		p{
			break-inside: avoid;
		}
	}
}
.solution:hover, .solution.active{
	.solution__icon{
		color: #fff;
		background-color: $accent;
	}
	.solution__text{
		color: $text;
		text-decoration: underline;
	}
}


@import "media"; // Always at the end