@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
html{
	font-size: 18px;
}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.4;
	font-family: $default-font;
	font-weight: 300;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text{
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
}

b, strong {
	font-weight: bold;
}

.bg-primary{
	background-color: $accent;
}

.btn{
	display: inline-block;
	outline: none;
	background: none;
	border: 1px solid $accent;
	color: $accent;
	cursor: pointer;
	padding: 5px 50px;
	transition: background-color 0.5s;
	&:hover{
		background-color: $accent;
		color: #fff;
	}
}

h1{
	color: $accent;
	font-size: 1.7rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
	position: relative;
	&:after{
		content:"";
		display: block;
		position: absolute;
		bottom: 0;
		height: 1px;
		background-color: $accent;
		width: 100px;
		left: 50%;
		transform: translateX(-50%);
	}
}

h2{
	font-weight: 200;
	font-size: 1.7rem;
	color: $accent;
	padding-left: 1rem;
	position: relative;
	&:after{
		content:"";
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 70%;
		background-color: $accent;
		width: 1px;
		left: 0;
	}
}

header{
	a{
		transition: opacity 0.5s;
		font-weight: 200;
		&:hover, &:focus, &:visited{
			text-decoration: none;
			opacity: 0.7;
		}
	}
	input{
		border-color: lighten($text, 40%);
	}
}

nav .has-submenu{
	&>a{
		position: relative;
		padding-right: 10px;
		&:after{
			content: "";
			position: absolute;
			display: block;
			right: 0;
			top: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 4px 0 4px;
			border-color: #ccc transparent transparent transparent;
		}
	}
}

.prenav{
	padding: 0 15px;
	li{
		flex: none;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li:last-child{
			a{
				margin-right: 0;
			}
		}
	}
	a{
		color: #fff;
		font-size: 0.8rem;
		display: block;
		padding: 15px 0;
		margin-right: 20px;
	}
	&-right{
		margin-left: auto;
		li{
			&>.has-submenu{
				&:first-child{
					a{
						margin-right: 10px;
					}
				}
				&:last-child{
					a{
						margin-left: 5px;
					}
				}
			}
		}
		a{
			margin-right: 5px;
		}
	}
}

.prenav{
	align-items: center;
	&-right{
		display: flex;
		flex: 1 0 auto;
	}
	.search-form{
		margin-right: 15px;
	}
	.logo-holder{
		margin-right: 20px;
		a{
			display: block;
			font-size: 22px;
			line-height: 22px;
		}
		width: 100px;
		a:hover, a:focus, a:visited{
			opacity: inherit;
		}
	}
}
.navigation-main{
	&>nav>ul>li{
		//border-right: 1px solid #ccc;
	}
	.has-submenu{
		&:hover{
			&>ul{
				visibility: visible;
				opacity: 1;
				height: auto;
				overflow: visible;
			}
			&>a{
				color: $accent;
				text-decoration: underline;
				&:after{
					border-color: $accent transparent transparent transparent;
				}
			}
		}
		position: relative;
		ul{
			visibility: hidden;
			opacity: 0;
			height: 0;
			overflow: hidden;
			transition: 0.5s;
			position: absolute;
			z-index: 99;
			background-color: #fff;
			flex-wrap: wrap;
			left: 0;
			padding: 15px;
			&>li{
				border-left: 1px solid rgba($text, 0.5);
				flex: 1 0 auto;
				padding-left: 10px;
			}
			&:after{
				content:"";
				height: calc(100% + 15px);
				width: 200vw;
				position: absolute;
				z-index: -1;
				top: 0;
				left: -90vw;
				background-color: #fff;
			}
		}
		a{
			padding-right: 10px;
			white-space: nowrap;
		}
		.has-submenu{
			&:hover a:after{
				border-color: transparent transparent transparent $accent;
			}
			a:after{
				border-width: 4px 0 4px 4px;
				border-color: transparent transparent transparent #ccc;
			}
			ul{
				top: 0;
				left: 100%;
				padding-top: 0;
				background-color: #fff;
				&:after{
					display: none;
				}
				li{
					background-color: #fff;
				}
			}
		}
	}
	ul, li{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		font-size: 0.85rem;
		&:last-child{
			a{
				padding-right: 0;
				&:after{
					display: none;
				}
			}
		}
		a{
			color: #000;
			display: block;
			padding: 0 7px;
			position: relative;
			&:hover{
				text-decoration: underline;
				color: $accent;
			}
			&:after{
				content:"";
				display: block;
				position: absolute;
				width: 1px;
				top: 50%;
				right: 0;
				transform: translate(0.5px, -50%);
			}
		}
	}
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.search-form{
	width: 100%;
	max-width: 250px;
	position: relative;
	&:before{
		position: absolute;
		color: #fff;
		right: 10px;
		font-size: 0.7rem;
		top: 50%;
		transform: translateY(-50%);
	}
	margin-left: auto;
	form{
		width: 100%;
		font-size: 0.8rem;
		input[type='text']{
			font-family: $default-font;
			background-color: transparent;
			color: #ccc;
			width: 100%;
			padding: 5px 10px;
		}
		input[type='submit']{
			position: absolute;
			background-color: transparent;
			border: none;
			padding: 0;
			
		}
	}
}


section{
	margin-top: 2rem;
	h1{
		margin-bottom: 3rem;
	}
}
.about-company{
	color: $accent;
	&>div[class^="col"]{
		margin-bottom: 15px;
	}
	&__plate{
		padding: 10px;
		min-height: 100%;
		border: 1px solid $accent;
		cursor: pointer;
		transition: background-color 0.7s;
		align-items: center;
		&:hover, &.active-plate{
			background-color: $accent;
			color: #fff;
			.about-company__icon-holder span{
				color: #fff;
			}
		}
	}
	&__icon-holder{
		flex: 0 0 50px;
		span{
			font-size: 40px;
			line-height: 1;
			color: $accent;
		}
	}
	&__card-text{
		font-size: 0.9rem;
		flex: 1 0 calc(75% - 50px);
	}
}

//slider

.owl-carousel{
	.owl-stage-outer{
		overflow: visible;
		.owl-item{
			opacity: 0.2;
			&.active{
				opacity: 1;
			}
		}
	}
	.owl-nav{
		button{
			&.owl-prev, &.owl-next{
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				background-color: rgba(#fff, 0.9);
				width: 1.8rem;
				height: 1.8rem;
				border-radius: 50%;
				text-align: center;
				span{
					line-height: 1.8rem;
				}
				&:focus{
					outline: none;
				}
			}
			&.owl-next{
				left: auto;
				right: 15px;
			}
			
		}
	}
	
}

//production section

.production-item{
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
	&:hover{
		img{
			filter: grayscale(0);
		}
		.production-item__inner{
			opacity: 0;
			span{
				transform: scale(3);
				filter: blur(5px);
			}
		}
	}
	position: relative;
	img{
		filter: grayscale(90%)
	}
	&__inner{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(#fff, 0.9);
		transition: opacity 0.9s;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		text-transform: uppercase;
		font-size: 1.2rem;
		text-align: center;
		color: $accent;
		span{
			transition: transform 0.2s;
			transform-origin: center;
			font-weight: 400;
		}
	}
}
.bg-image{
	background-size: cover;
	&>.container{
		background-color: #fff;
	}
}
// complex solutions
.complex-solutions{
	.bg-image{
		background-image: url(../img/complex-solutions.jpg);
	}
}

.solution{
	font-weight: 300;
	line-height: 1.2;
	color: $text;
	text-align: center;
	display: block;
	&:hover{
		text-decoration: none;
	}
	&__text-block{
		display: none;
	}
	&__icon{
		position: relative;
		transition: 0.5s;
		margin-bottom: 0.5rem;
		color: $accent;
		height: 0;
		padding-bottom: 100%;
		font-size: 60px;
		span{
			position: absolute;
			display: block;
			width: 100%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.column-text{
	column-count: 2;
	column-gap: 30px;
	p{
		break-inside: avoid;
	}
}
.solution:hover, .solution.active{
	.solution__icon{
		color: #fff;
		background-color: $accent;
	}
	.solution__text{
		color: $text;
		text-decoration: underline;
	}
}

.acc-block{
	margin-bottom: 30px;
	.column-text{
		display: none;
	}
	&__header{
		cursor: pointer;
		padding: 3px 0;
		color: $accent;
		font-size: 1.2rem;
		border: 1px solid #E5E5E5;
		display: flex;
		align-items: center;
		.bull{
			border: 1px solid $accent;
			position: relative;
			width: 30px;
			margin: 0 15px;
			height: 30px;
			border-radius: 50%;
			display: inline-block;
			&:before, &:after{
				position: absolute;
				content: "";
				background-color: $accent;
				width: 15px;
				height: 1px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
			&:before{
				width: 1px;
				height: 15px;
			}
		}

	}
	&.active{
		margin-bottom: 10px;
		.column-text{
			display: block;
			margin: 15px 0 30px;
		}
		.acc-block__header{
			.bull:before{
				display: none;
			}
		}

	}
}

// finished projects

.project-posts{
	.post-holder{
		display: flex;
		align-items: flex-start;
		border: 1px solid #E5E5E5;

	}
	.img-holder{
		padding: 10px;
		flex: 0 0 270px;
		margin-right: 15px;
	}
	.text-holder{
		padding: 10px;
		padding-left: 0;
		.date, .post-header{
			color: $accent;
		}
		.post-header{
			font-size: 1.2rem;
		}
		p{
			line-height: 1.2;
		}
		.read-more{
			margin: 0;
		}
	}
}

// news section
.news-posts{
	.post-holder{
		border: 1px solid #E5E5E5;
	}
	.img-holder{
		padding: 10px;
	}
	.text-holder{
		padding: 10px;
		.date, .post-header{
			color: $accent;
		}
		.post-header{
			font-size: 1.2rem;
		}
		p{
			line-height: 1.2;
		}
		.read-more{
			margin: 0;
		}
	}
}
form{
	.field-holder{
		margin-bottom: 15px;
		input, textarea{
			font-weight: 200;
			border: 1px solid #E5E5E5;
			padding: 3px 10px;
			width: 100%;
		}
		textarea{
			resize: none;
			//height: 193px;
		}
		::placeholder{
			color: #686868;

		}
	}
}

footer{
	.footer-top{
		background-color: $accent;
	}
	.prenav-left{
		display: flex;
		align-items: center;
	}
	p{
		font-size: 0.8rem;
		line-height: 1.2;
		font-weight: 200;
	}
}


@import "media"; // Always at the end